/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
}
body header {
  margin-bottom: 44.5px;
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body header .div1 {
  vertical-align: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body header .div1 img {
  margin-top: 70px;
  vertical-align: bottom;
  margin-right: 12px;
  vertical-align: top;
  height: 40px;
  width: 33px;
}
body header .div1 h1 {
  margin-top: 70px;
  margin-right: 46px;
  vertical-align: bottom;
  color: #141414;
  font-family: Playfair Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 35px */
}
body header ul {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body header ul a {
  margin-right: 32px;
  color: #555;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 22.5px */
}
body header i {
  margin-right: 10px;
  margin-top: 75px;
}
body .s1 {
  margin-bottom: 145px;
}
body .s1 .div2 {
  position: relative;
  width: 100%;
  height: 925px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #EBF3F5;
}
body .s1 .div2 img {
  position: absolute;
  left: 52.2%;
  width: 700px;
  height: 925px;
}
body .s1 .div2 .div3 {
  width: 510px;
  position: absolute;
  top: 15%;
  left: 15%;
}
body .s1 .div2 .div3 h2 {
  color: #141414;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 80.5px */
  letter-spacing: -0.7px;
}
body .s1 .div2 .div3 p {
  color: #555;
  font-family: "BPG Arial", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 32.3px */
}
body .s2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body .s2 .container .div4 {
  margin-bottom: 150px;
  width: 327px;
}
body .s2 .container .div4 .img4 {
  height: 225px;
  width: 400px;
}
body .s2 .container .div4 h3 {
  margin-top: 20px;
  color: #141414;
  font-family: Playfair Display;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 31.2px */
}
body .s2 .container .div4 p {
  color: #555;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 29.7px */
  letter-spacing: 0.36px;
}
body .s2 .container .div4 button {
  margin-top: 50px;
  width: 199.5px;
  background-color: #EBF3F5;
  height: 50px;
  color: #141414;
  border: 2px solid #5C8692;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 17.5px */
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
body .s3 {
  margin-bottom: 145px;
  width: 100%;
  height: 700px;
  background-color: #EBF3F5;
}
body .s3 .div5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .s3 .div5 .div6 {
  width: 500px;
  position: relative;
}
body .s3 .div5 .div6 h1 {
  color: #141414;
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 58.5px */
  letter-spacing: -0.45px;
}
body .s3 .div5 .div6 p {
  color: #555;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 29.7px */
}
body .s4 .div8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .s4 .div8 .div9 {
  margin-bottom: 100px;
  width: 384px;
}
body .s4 .div8 .div9 img {
  margin-bottom: 10px;
  width: 384px;
  height: 216px;
}
body .s4 .div8 .div9 h3 {
  margin-left: 80px;
  margin-bottom: 15px;
  font-size: 24px;
  font-family: "BPG Arial", sans-serif;
  color: #50b1c9;
  font-weight: 700;
}
body .s4 .div8 .div9 p {
  color: #5C8692;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}
body .s5 .div10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  height: 700px;
  background-color: #EBF3F5;
}
body .s5 .div10 .div11 {
  width: 600px;
}
body .s5 .div10 .div11 h1 {
  margin-bottom: 30px;
  color: #141414;
  font-family: Playfair Display;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 80.5px */
  letter-spacing: -0.7px;
}
body .s5 .div10 .div11 p {
  color: #141414;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 165%; /* 80.5px */
  letter-spacing: -0.7px;
}
body .s5 .div10 .div12 img {
  width: 800px;
  margin-top: 20px;
}
body footer {
  margin-top: 150px;
  width: 100%;
  height: 560px;
  background-color: #EBF3F5;
}/*# sourceMappingURL=global.css.map */