/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body header {
  padding: 30px 0;
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}
body header .container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 998px) {
  body header .container {
    width: 90%;
  }
}
@media (max-width: 696px) {
  body header .container {
    display: block;
  }
}
body header .container .div1 {
  vertical-align: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
@media (max-width: 400px) {
  body header .container .div1 {
    width: 90%;
    height: 90%;
  }
}
@media (max-width: 696px) {
  body header .container .div1 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
body header .container .div1 img {
  margin-right: 12px;
  vertical-align: middle;
  height: 33px;
  width: 33px;
  margin-left: 10px;
}
@media (max-width: 973px) {
  body header .container .div1 img {
    margin-bottom: 20px;
  }
}
body header .container .div1 h1 {
  margin-right: 46px;
  vertical-align: middle;
  color: #555;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 35px */
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
@media (max-width: 630px) {
  body header .container .div1 h1 {
    font-size: 25px;
  }
}
@media (max-width: 400px) {
  body header .container .div1 h1 {
    font-size: 18px;
  }
}
body header .container .div1 h1:hover {
  color: #50b1c9;
}
body header .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 400px) {
  body header .container ul {
    display: block;
  }
}
body header .container ul a {
  margin-right: 32px;
  color: #555;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 22.5px */
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}
@media (max-width: 696px) {
  body header .container ul a {
    font-size: 15px;
  }
}
@media (max-width: 610px) {
  body header .container ul a {
    font-size: 12px;
  }
}
@media (max-width: 525px) {
  body header .container ul a {
    font-size: 10px;
  }
}
@media (max-width: 465px) {
  body header .container ul a {
    font-size: 8px;
  }
}
body header .container ul a:hover {
  color: #50b1c9;
}
body .s1 {
  margin-top: 120px;
  background-color: #EBF3F5;
  margin-bottom: 145px;
}
body .s1 .container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding: 100px 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1210px) {
  body .s1 .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
@media (max-width: 630px) {
  body .s1 .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
body .s1 .container img {
  width: 700px;
  height: 925px;
  padding: 0 20px;
}
@media (max-width: 700px) {
  body .s1 .container img {
    width: 80%;
    height: 80%;
  }
}
@media (max-width: 630px) {
  body .s1 .container img {
    width: 60%;
    height: 60%;
  }
}
body .s1 .container .div3 {
  width: 510px;
  padding: 0 10px;
}
@media (max-width: 630px) {
  body .s1 .container .div3 {
    width: 60%;
  }
}
@media (max-width: 500px) {
  body .s1 .container .div3 {
    width: 50%;
  }
}
body .s1 .container .div3 h2 {
  color: #141414;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 80.5px */
  letter-spacing: -0.7px;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}
@media (max-width: 1210px) {
  body .s1 .container .div3 h2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 50px;
  }
}
@media (max-width: 630px) {
  body .s1 .container .div3 h2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  body .s1 .container .div3 h2 {
    font-size: 20px;
  }
}
body .s1 .container .div3 h2:hover {
  color: #555;
}
body .s1 .container .div3 p {
  color: #555;
  font-family: "BPG Arial", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 32.3px */
}
@media (max-width: 1210px) {
  body .s1 .container .div3 p {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 15px;
  }
}
@media (max-width: 630px) {
  body .s1 .container .div3 p {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 10px;
  }
}
@media (max-width: 500px) {
  body .s1 .container .div3 p {
    font-size: 7px;
  }
}
body .s2 {
  padding: 100px 0;
}
body .s2 .container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}
@media (max-width: 1300px) {
  body .s2 .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 850px) {
  body .s2 .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 400px) {
  body .s2 .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
  }
}
body .s2 .container .div4 {
  width: 400px;
}
body .s2 .container .div4 .img4 {
  padding: 0 10px;
  border-radius: 1%;
  height: 225px;
  width: 400px;
}
@media (max-width: 500px) {
  body .s2 .container .div4 .img4 {
    width: 90%;
    height: 50%;
  }
}
@media (max-width: 400px) {
  body .s2 .container .div4 .img4 {
    width: 80%;
    height: 40%;
  }
}
@media (max-width: 300px) {
  body .s2 .container .div4 .img4 {
    width: 90%;
    height: 40%;
  }
}
body .s2 .container h3 {
  margin-top: 20px;
  color: #141414;
  font-family: "Edu SA Beginner", cursive;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 31.2px */
}
@media (max-width: 500px) {
  body .s2 .container h3 {
    font-size: 20px;
  }
}
body .s2 .container p {
  margin-bottom: 20px;
  color: #555;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 29.7px */
  letter-spacing: 0.36px;
}
@media (max-width: 500px) {
  body .s2 .container p {
    font-size: 14px;
  }
}
body .s2 .container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 43px 19px 43px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #141414;
  background-color: #EBF3F5;
  text-align: center;
  border: 2px solid #5C8692;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 17.5px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}
@media (max-width: 500px) {
  body .s2 .container a {
    font-size: 20px;
    width: 80%;
    height: 15%;
  }
}
@media (max-width: 400px) {
  body .s2 .container a {
    font-size: 15px;
    width: 60%;
    height: 10%;
  }
}
body .s2 .container a:hover {
  color: #555;
}
body .s3 {
  margin-bottom: 145px;
  width: 100%;
  padding: 100px 0;
  background-color: #EBF3F5;
  gap: 10px;
}
body .s3 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 700px) {
  body .s3 .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
body .s3 .container .div6 {
  width: 500px;
  position: relative;
  padding: 0 10px;
}
@media (max-width: 1400px) {
  body .s3 .container .div6 {
    width: 850px;
  }
}
@media (max-width: 700px) {
  body .s3 .container .div6 {
    width: 70%;
  }
}
@media (max-width: 500px) {
  body .s3 .container .div6 {
    width: 60%;
  }
}
body .s3 .container .div6 h1 {
  margin-bottom: 30px;
  color: #141414;
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 58.5px */
  letter-spacing: -0.45px;
}
@media (max-width: 700px) {
  body .s3 .container .div6 h1 {
    font-size: 30px;
  }
}
body .s3 .container .div6 p {
  color: #555;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 29.7px */
}
body .s3 .container img {
  padding: 0 10px;
}
@media (max-width: 850px) {
  body .s3 .container img {
    width: 90%;
    height: 90%;
  }
}
@media (max-width: 700px) {
  body .s3 .container img {
    width: 70%;
    height: 70%;
    margin-left: 100px;
  }
}
@media (max-width: 400px) {
  body .s3 .container img {
    margin-left: 80px;
  }
}
@media (max-width: 300px) {
  body .s3 .container img {
    margin-left: 40px;
  }
}
body .s4 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
body .s4 .container .div9 {
  margin-bottom: 100px;
  width: 384px;
}
@media (max-width: 500px) {
  body .s4 .container .div9 {
    width: 60%;
    height: 50%;
  }
}
body .s4 .container .div9 img {
  margin-bottom: 10px;
  width: 384px;
  height: 216px;
  padding: 0 10px;
}
@media (max-width: 500px) {
  body .s4 .container .div9 img {
    width: 100%;
    height: 50%;
  }
}
body .s4 .container .div9 h3 {
  margin-left: 80px;
  margin-bottom: 15px;
  font-size: 24px;
  font-family: "BPG Arial", sans-serif;
  color: #50b1c9;
  font-weight: 700;
}
@media (max-width: 700px) {
  body .s4 .container .div9 h3 {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  body .s4 .container .div9 h3 {
    font-size: 16px;
  }
}
@media (max-width: 700px) {
  body .s4 .container .div9 h3 {
    margin-left: 50px;
  }
}
body .s4 .container .div9 p {
  color: #50b1c9;
  text-align: center;
  font-family: "BPG Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}
@media (max-width: 500px) {
  body .s4 .container .div9 p {
    font-size: 12px;
  }
}
body .s5 {
  margin-bottom: 150px;
}
body .s5 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  background-color: #EBF3F5;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 70px 0;
  gap: 10px;
}
body .s5 .container .div11 {
  padding: 0 10px;
  width: 600px;
}
@media (max-width: 1410px) {
  body .s5 .container .div11 {
    width: 800px;
  }
}
@media (max-width: 700px) {
  body .s5 .container .div11 {
    width: 70%;
  }
}
body .s5 .container .div11 h1 {
  margin-bottom: 30px;
  color: #141414;
  font-family: "Playfair Display", serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 80.5px */
  letter-spacing: -0.7px;
}
@media (max-width: 700px) {
  body .s5 .container .div11 h1 {
    font-size: 50px;
  }
}
@media (max-width: 500px) {
  body .s5 .container .div11 h1 {
    font-size: 40px;
  }
}
@media (max-width: 440px) {
  body .s5 .container .div11 h1 {
    font-size: 30px;
  }
}
body .s5 .container .div11 p {
  color: #141414;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 165%; /* 80.5px */
  letter-spacing: -0.7px;
}
@media (max-width: 700px) {
  body .s5 .container .div11 p {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  body .s5 .container .div11 p {
    font-size: 17px;
  }
}
@media (max-width: 440px) {
  body .s5 .container .div11 p {
    font-size: 15px;
  }
}
@media (max-width: 630px) {
  body .s5 .container .div12 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
body .s5 .container .div12 img {
  width: 800px;
  margin-top: 20px;
  border-radius: 1%;
  padding: 0 10px;
}
@media (max-width: 850px) {
  body .s5 .container .div12 img {
    width: 90%;
    height: 90%;
  }
}
@media (max-width: 700px) {
  body .s5 .container .div12 img {
    width: 70%;
    height: 70%;
    margin-left: 100px;
  }
}
@media (max-width: 500px) {
  body .s5 .container .div12 img {
    width: 65%;
    height: 65%;
    margin-left: 70px;
  }
}
@media (max-width: 300px) {
  body .s5 .container .div12 img {
    margin-left: 45px;
  }
}
body .s6 {
  background-color: #EBF3F5;
}
body .s6 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
body .s6 .container img {
  width: 636px;
  height: 382px;
  border-radius: 1%;
}
@media (max-width: 700px) {
  body .s6 .container img {
    width: 70%;
    height: 70%;
  }
}
body .s6 .container .div19 {
  width: 500px;
}
@media (max-width: 1155px) {
  body .s6 .container .div19 {
    width: 650px;
  }
}
@media (max-width: 700px) {
  body .s6 .container .div19 {
    width: 70%;
  }
}
body .s6 .container .div19 p {
  color: #555;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 29.7px */
}
@media (max-width: 400px) {
  body .s6 .container .div19 p {
    font-size: 13px;
  }
}
body .s6 .container .div19 h1 {
  margin-bottom: 20px;
  margin-top: 20px;
  color: #141414;
  font-family: "Edu SA Beginner", cursive;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 31.2px */
}
@media (max-width: 400px) {
  body .s6 .container .div19 h1 {
    font-size: 17px;
  }
}
body .s7 {
  background-color: #EBF3F5;
}
body .s7 .container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1340px) {
  body .s7 .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 900px) {
  body .s7 .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 470px) {
  body .s7 .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 200px 0;
  }
}
@media (max-width: 400px) {
  body .s7 .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 300px 0;
  }
}
@media (max-width: 320px) {
  body .s7 .container {
    padding: 300px 0;
  }
}
body .s7 .container img {
  padding: 0 10px;
  width: 620px;
  height: 349px;
}
@media (max-width: 900px) {
  body .s7 .container img {
    width: 90%;
    height: 100%;
    margin-left: 50px;
  }
}
@media (max-width: 875px) {
  body .s7 .container img {
    width: 70%;
    height: 100%;
    margin-left: 110px;
  }
}
@media (max-width: 470px) {
  body .s7 .container img {
    margin-left: 70px;
  }
}
@media (max-width: 320px) {
  body .s7 .container img {
    margin-left: 50px;
  }
}
body .s7 .container .div17 {
  padding: 0 20px;
  width: 700px;
  gap: 10px;
}
@media (max-width: 900px) {
  body .s7 .container .div17 {
    width: 60%;
  }
}
body .s7 .container .div17 h1 {
  color: #5C8692;
  font-family: "Edu SA Beginner", cursive;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 31.2px */
}
@media (max-width: 1000px) {
  body .s7 .container .div17 h1 {
    font-size: 20px;
  }
}
body .s7 .container .div17 p {
  font-family: "ALK Rounded Nusx Med", sans-serif;
  color: #5C8692;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 29.7px */
}
@media (max-width: 1000px) {
  body .s7 .container .div17 p {
    font-size: 15px;
  }
}
body footer {
  margin-top: 150px;
  width: 100%;
  padding: 30px 0;
  background-color: #EBF3F5;
}
body footer .container {
  max-width: 1400px;
}
@media (max-width: 300px) {
  body footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
body footer .container .div14 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: first baseline;
      -ms-flex-pack: first baseline;
          justify-content: first baseline;
  margin-bottom: 50px;
  margin-left: 100px;
}
body footer .container .div14 img {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
  width: 33px;
  height: 40px;
}
@media (max-width: 400px) {
  body footer .container .div14 img {
    margin-left: 0;
  }
}
body footer .container .div14 h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 50px */
  letter-spacing: 0.8px;
  margin-top: 50px;
}
@media (max-width: 1095px) {
  body footer .container .div14 h1 {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  body footer .container .div14 h1 {
    font-size: 20px;
  }
}
@media (max-width: 300px) {
  body footer .container .div14 h1 {
    font-size: 15px;
  }
}
body footer .div15 {
  margin-left: 100px;
}
body footer .div15 h3 {
  color: black;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30.8px */
}
@media (max-width: 400px) {
  body footer .div15 h3 {
    font-size: 20px;
  }
}
body footer .div15 a {
  color: #555;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%; /* 22.5px */
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}
@media (max-width: 400px) {
  body footer .div15 a {
    font-size: 17px;
  }
}
body footer .div15 a:hover {
  color: #50b1c9;
}
body footer .div20 {
  margin-left: 100px;
  margin-top: 50px;
}
body footer .div20 i {
  margin-right: 10px;
}
@media (max-width: 300px) {
  body footer .div20 i {
    display: none;
  }
}/*# sourceMappingURL=global.css.map */