body {
    color: white;
    header {
        margin-bottom: 44.5px;
        margin-left: 60px;
        display: flex;
        justify-content: space-between;
        .div1 {
            vertical-align: bottom;
            display: flex;
            justify-content: space-between;
            img {
                margin-top: 70px;
                vertical-align: bottom;
                margin-right: 12px;
                vertical-align: top;
                height: 40px;
                width: 33px;
            }
            h1 {
                margin-top: 70px;
                margin-right: 46px;
                vertical-align: bottom;
                color: $color1;
                font-family: Playfair Display;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: 125%; /* 35px */
            }
        }
        ul {
            margin-top: 75px;
            display: flex;
            a {
                margin-right: 32px;
                color: $color2;
                font-family: "BPG Nino Mtavruli", sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 125%; /* 22.5px */
            }
        }
        i {
            margin-right: 10px;
            margin-top: 75px;
        }
    }
    .s1 {
        margin-bottom: 145px;
        .div2 {
            position: relative;
            width: 100%;
            height: 925px;
            flex-shrink: 0;
            background-color:  #EBF3F5;
            img {
                position: absolute;
                left: 52.2%;
                width: 700px;
                height: 925px;
        
            }
            .div3 {
                width: 510px;
                position: absolute;
                top: 15%;
                left: 15%;
                h2 {
                    color: #141414;
                    font-family: "BPG Nino Mtavruli", sans-serif;
                    font-size: 70px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 115%; /* 80.5px */
                    letter-spacing: -0.7px;
                }
                p {
                    color: #555;
                    font-family: "BPG Arial", sans-serif;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 170%; /* 32.3px */
                }
            
            }
        }
    }
    .s2 {
        .container {
            display: flex;
            justify-content: space-around;
            .div4 {
                margin-bottom: 150px;
                width: 327px;
                .img4 {
                    height: 225px;
                    width: 400px;
                }
                h3 {
                    margin-top: 20px;
                    color: $color1;
                    font-family: Playfair Display;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 31.2px */
                }
                p {
                    color: $color2;
                    font-family: Manrope;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 165%; /* 29.7px */
                    letter-spacing: 0.36px;
                }
                button {
                    margin-top: 50px;
                    width: 199.5px;
                    background-color: #EBF3F5;
                    height: 50px;
                    color: #141414;
                    border: 2px solid #5C8692;
                    text-align: center;
                    font-family: Manrope;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 125%; /* 17.5px */
                    letter-spacing: 1.4px;
                    text-transform: uppercase;
                }
                
            }
            
        }
    }
    .s3 {
        margin-bottom: 145px;
        width: 100%;
        height: 700px;
        background-color: #EBF3F5;
        .div5 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .div6 {
                width: 500px;
                position: relative;
                h1 {
                    color: #141414;
                    font-family: 'Playfair Display', serif;
                    font-size: 45px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 130%; /* 58.5px */
                    letter-spacing: -0.45px;
                }
                p {
                    color: #555;
                    font-family: "BPG Nino Mtavruli", sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 165%; /* 29.7px */
                }
            }
        }
    }
    .s4 {
        .div8 {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .div9 {
                margin-bottom: 100px;
                width: 384px;
                img {
                    margin-bottom: 10px;
                    width: 384px;
                    height: 216px;
                }
                h3 {
                    margin-left: 80px;
                    margin-bottom: 15px;
                    font-size: 24px;
                    font-family: "BPG Arial", sans-serif;
                    color: #50b1c9;
                    font-weight: 700;
                }
                p {
                    color: #5C8692;
                    text-align: center;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%; /* 28.8px */
                }
            }
        }
    }
    .s5 {
        .div10 {
            display: flex;
            justify-content: space-around;
            align-items: start;
            width: 100%;
            height: 700px;
            background-color: #EBF3F5;
            .div11 {
                width: 600px;
                h1 {
                    margin-bottom: 30px;
                    color: #141414;
                    font-family: Playfair Display;
                    font-size: 70px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 115%; /* 80.5px */
                    letter-spacing: -0.7px;
                }
                p {
                    color: #141414;
                    font-family: "BPG Nino Mtavruli", sans-serif;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 165%; /* 80.5px */
                    letter-spacing: -0.7px; 
                }
            }
            .div12 {
                img {
                    width: 800px;
                    margin-top: 20px;
                }
            }
        }
    }
    footer {
        margin-top: 150px;
        width: 100%;
        height: 560px;
        background-color: #EBF3F5;
    }
}