body {
    color: $color1;
    header {
        margin-bottom: 44.5px;
        margin-left: 60px;
        display: flex;
        justify-content: space-between;
        .div1 {
            vertical-align: bottom;
            display: flex;
            justify-content: space-between;
            img {
                margin-top: 70px;
                vertical-align: bottom;
                margin-right: 12px;
                vertical-align: top;
                height: 40px;
                width: 33px;
            }
            h1 {
                margin-top: 70px;
                margin-right: 46px;
                vertical-align: bottom;
                color: $color2;
                font-family: $font1;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: 125%; /* 35px */
            }
        }
        ul {
            margin-top: 75px;
            display: flex;
            a {
                margin-right: 32px;
                color: $color2;
                font-family: $font2;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 125%; /* 22.5px */
            }
        }
        i {
            margin-right: 10px;
            margin-top: 75px;
        }
    }
    .s1 {
        margin-bottom: 145px;
        .div2 {
            position: relative;
            width: 100%;
            height: 925px;
            flex-shrink: 0;
            background-color: $color3;
            img {
                position: absolute;
                left: 52.2%;
                width: 700px;
                height: 925px;
        
            }
            .div3 {
                width: 510px;
                position: absolute;
                top: 15%;
                left: 15%;
                h2 {
                    color: $color4;
                    font-family: $font2;
                    font-size: 70px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 115%; /* 80.5px */
                    letter-spacing: -0.7px;
                }
                p {
                    color: $color2;
                    font-family: $font3;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 170%; /* 32.3px */
                }
            
            }
        }
    }
    .s2 {
        .container {
            display: flex;
            justify-content: space-around;
            .div4 {
                margin-bottom: 150px;
                width: 327px;
                .img4 {
                    border-radius: 1%;
                    height: 225px;
                    width: 400px;
                }
                h3 {
                    margin-top: 20px;
                    color: $color4;
                    font-family: $font5;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 31.2px */
                }
                p {
                    margin-bottom: 20px;
                    color: $color2;
                    font-family: $font4;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 165%; /* 29.7px */
                    letter-spacing: 0.36px;
                }
                a {
                    width: 199.5px;
                    background-color: $color3;
                    height: 50px;
                    color: $color4;
                    border: 2px solid $color5;
                    text-align: center;
                    font-family: $font4;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 125%; /* 17.5px */
                    letter-spacing: 1.4px;
                    text-transform: uppercase;
                }
                
            }
            
        }
    }
    .s3 {
        margin-bottom: 145px;
        width: 100%;
        height: 700px;
        background-color: $color3;
        .div5 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .div6 {
                width: 500px;
                position: relative;
                h1 {
                    margin-bottom: 50px;
                    color: $color4;
                    font-family: $font1;
                    font-size: 45px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 130%; /* 58.5px */
                    letter-spacing: -0.45px;
                }
                p {
                    color: $color2;
                    font-family: $font2;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 165%; /* 29.7px */
                }
            }
        }
    }
    .s4 {
        .div8 {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .div9 {
                margin-bottom: 100px;
                width: 384px;
                img {
                    margin-bottom: 10px;
                    width: 384px;
                    height: 216px;
                }
                h3 {
                    margin-left: 80px;
                    margin-bottom: 15px;
                    font-size: 24px;
                    font-family: $font3;
                    color: $color6;
                    font-weight: 700;
                }
                p {
                    color: $color6;
                    text-align: center;
                    font-family: $font3;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%; /* 28.8px */
                }
            }
        }
    }
    .s5 {
        margin-bottom: 150px;
        .div10 {
            display: flex;
            justify-content: space-around;
            align-items: start;
            width: 100%;
            height: 700px;
            background-color: $color3;
            .div11 {
                width: 600px;
                h1 {
                    margin-bottom: 30px;
                    color: $color4;
                    font-family: $font1;
                    font-size: 70px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 115%; /* 80.5px */
                    letter-spacing: -0.7px;
                }
                p {
                    color: $color4;
                    font-family: $font2;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 165%; /* 80.5px */
                    letter-spacing: -0.7px; 
                }
            }
            .div12 {
                img {
                    width: 800px;
                    margin-top: 20px;
                    border-radius: 1%;
                }
            }
        }
    }
    .s6 {
        background-color: $color3;
        .div18 {
            display: flex;
            justify-content: space-around;
            img {
                width: 636px;
                height: 382px;
                border-radius: 1%;
            }
            .div19 {
                width: 500px;
                p {
                    color: $color2;
                    font-family: $font2;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 165%; /* 29.7px */
                }
                h1 {
                    margin-bottom: 20px;
                    margin-top: 20px;
                    color: $color4;
                    font-family: $font5;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 31.2px */
                }
            }
        }
    }
    .s7 {
        background-color: $color3;
        margin-bottom: 50px;
        .div16 {
            width: 100%;
            height: 600px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                margin-left: 10px;
                width: 670px;
                height: 398px;
            }
            .div17 {
                width: 700px;
                h1 {
                    color: $color5;
                    font-family: $font5;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 31.2px */
                }
                p {
                    font-family: "ALK Rounded Nusx Med", sans-serif;
                    color: $color5;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 165%; /* 29.7px */
                }
            }
        }
        a {
                    margin-left: 20px   ;
                    width: 199.5px;
                    background-color: $color1;
                    height: 50px;
                    color: $color4;
                    border: 2px solid $color5;
                    text-align: center;
                    font-family: $font4;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 125%; /* 17.5px */
                    letter-spacing: 1.4px;
                    text-transform: uppercase;
        }
    }
    footer {
        margin-top: 150px;
        width: 100%;
        height: 400px;
        background-color: $color3;
        .div13 {
            .div14 {
                display: flex;
                justify-content: first baseline;
                margin-bottom: 50px;
                margin-left: 100px;
                svg {
                    margin-right: 50px;
                    margin-top: 60px;
                }
                h1 {
                    margin-right: 700px;
                    color: $color7;
                    font-family: $font1;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 125%; /* 50px */
                    letter-spacing: 0.8px;
                    margin-top: 50px;
                }
                i {
                    margin-top: 75px;
                    margin-right: 30px;
                }
            }
        }
        .div15 {
            margin-left: 100px;
            h3 {
                margin-bottom: 50px;
                color: $color7;
                font-family: $font2;
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: 100%; /* 30.8px */
            }
            li {
                margin-bottom: 20px;
                a {
                    margin-right: 32px;
                    color: $color2;
                    font-family: $font2;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%; /* 22.5px */
                }
            }

        }
    }
}