body {
    color: white;
    header {
        margin-bottom: 44.5px;
        margin-left: 60px;
        display: flex;
        justify-content: space-between;
        .div1 {
            vertical-align: bottom;
            display: flex;
            justify-content: space-between;
            h1 {
                margin-top: 70px;
                margin-right: 46px;
                vertical-align: bottom;
                color: $color1;
                font-family: Playfair Display;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: 125%; /* 35px */
            }
            h6 {
                margin-top: 75px;
                vertical-align: bottom;
                color: $color1;
                font-family: Manrope;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 125%; /* 22.5px */
                letter-spacing: -0.18px;
            }
        }
    }
    header img {
        margin-top: 70px;
        vertical-align: bottom;
        margin-right: 12px;
        vertical-align: top;
        height: 33px;
        width: 33px;
    }
    ul {
        margin-top: 75px;
        display: flex;
    }
    header a {
        margin-right: 32px;
        color: $color2;
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%; /* 22.5px */
    }

    header i {
        margin-right: 10px;
        margin-top: 75px;
    }

    button {
        margin-top: 50px;
        margin-right: 10px;
        margin-left: 30px;
        width: 199.5px;
        background-color: #5C8692;
        height: 50px;
        color: $color6;
        text-align: center;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%; /* 17.5px */
        letter-spacing: 1.4px;
        text-transform: uppercase;
    }
.s1 {
    margin-bottom: 145px;
    .div2 {
        position: relative;
        width: 100%;
        height: 925px;
        flex-shrink: 0;
        background-color:  #EBF3F5;
        img {
            position: absolute;
            left: 52.2%;
            width: 700px;
            height: 925px;
    
        }
    }
}

.div3 {
    width: 510px;
    position: absolute;
    top: 15%;
    left: 15%;
    h2 {
        color: #141414;
        font-family: Playfair Display;
        font-size: 70px;
        font-style: normal;
        font-weight: 700;
        line-height: 115%; /* 80.5px */
        letter-spacing: -0.7px;
    }
    p {
        color: #555;
        font-family: Manrope;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%; /* 32.3px */
    }

}

}

h3 {
    color: $color1;
    font-family: Playfair Display;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 31.2px */
}

.div4 p {
    color: $color2;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%; /* 29.7px */
    letter-spacing: 0.36px;
}

.container {
    display: flex;
    justify-content: space-around;
    .div4 {
        width: 327px;
        h3 {
            margin-top: 20px;
            color: $color1;
            font-family: Playfair Display;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 31.2px */
        }
        
        .div4 p {
            margin-top: 11px;
            color: $color2;
            font-family: Manrope;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 165%; /* 29.7px */
            letter-spacing: 0.36px;
        }
    }
    
}

.b1 {
    color: #141414;
    border: 2px solid #5C8692;
    background-color: #EBF3F5;
}

.img2 {
    width: 550px;
    height: 545px;
}

.s3 img {
    position: absolute;
    width: 100%;
    height: 495px;
}

.div5 {
    width: 649px;
    position: relative;
    // margin-left: 450px;
    top: 120px;
    left: 425px;
}

.div5 p {
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 154.5%; /* 23.175px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.div5 h1 {
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 66px */
    letter-spacing: -0.55px;
}

.div5 button {
    margin-left: 225px;
}