$color1:white;
$color2:#555;
$color3:#EBF3F5;
$color4:#141414;
$color5:#5C8692;
$color6:#50b1c9;
$color7:black;
$font1:'Playfair Display', serif;
$font2:"BPG Nino Mtavruli", sans-serif;
$font3:"BPG Arial", sans-serif;
$font4:Manrope;
$font5:'Edu SA Beginner', cursive;
$font6: "ALK Rounded Nusx Med", sans-serif;